# /etc/nginx/sites-available/<%= @name %>

server {
    listen      <%= @listen_port %>;
    server_name <%= @name %><% @aliases.each do |a| -%> <%= a %><% end -%>;

    access_log  /var/log/nginx/<%= @name %>.access.log;
    error_log   /var/log/nginx/<%= @name %>.error.log;

    root        <%= @wwwroot %>;
    index       <%= @index %>;
}
